<html>
<body>
    <ol>
	<li>Your favorite color is: <font color="{{ color }}">{{ color }}</font>!</li>

	<li>You believe that leggings are <b>{{ leggings }}</b></li>

	<li>You like to eat at: <i>{{ ', '.join(eat) }}</i></li>

	<li>Your favorite Pokemon is: <p>{{ pokemon }}</p></li>
    </ol>
</body>
</html>
